{
	"ci": true,
	"dryRun": false,
	"branches": [
		{ "name": "main", "channel": "latest" },
		"+([0-9])?(.{+([0-9]),x}).x",
		{ "name": "beta", "prerelease": true },
		{ "name": "sdk7", "channel": "sdk7", "prerelease": "alfa" }
	],
	"plugins": [
		["@semantic-release/commit-analyzer", {
			"preset": "angular",
			"releaseRules": [
				{ "type": "breaking", "release": "major" },
				{ "type": "refactor", "release": "patch" },
				{ "scope": "no-release", "release": false }
			]
		}],
		["@semantic-release/release-notes-generator", {
			"preset": "conventionalcommits",
			"presetConfig": {
				"types": [
					{"type": "feat", "section": "Features"},
					{"type": "fix", "section": "Bug Fixes"},
					{"type": "perf", "section": "Performance"},
					{"type": "refactor", "section": "Refactoring"},
					{"type": "test", "section": "Testing"},
					{"type": "docs", "section": "Documentation"},
					{"type": "chore", "hidden": true},
					{"type": "style", "hidden": true}
				]
			}
		}],
		"@semantic-release/npm",
		"@semantic-release/github",
		["@semantic-release/changelog", {
			"changelogFile": "CHANGELOG.md"
		}],
		["@semantic-release/git", {
			"assets": [ "package.json", "CHANGELOG.md" ],
			"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
		}]
	]
}
