{
	"branches": [
		"main",
		{ "name": "sdk2", "channel": "sdk2", "range": "2.x" },
		{ "name": "sdk3", "channel": "sdk3", "range": "3.x" },
		{ "name": "4.x", "channel": "sdk4", "range": "4.x" }
	],
	"plugins": [
	  "@semantic-release/commit-analyzer",
	  "@semantic-release/release-notes-generator",
	  [
		"@semantic-release/changelog",
		{
		  "changelogFile": "CHANGELOG.md"
		}
	  ],
	  [
		"@semantic-release/git",
		{
		  "assets": ["CHANGELOG.md"]
		}
	  ]
	]
  }