{
    "openapi": "3.0.1",
    "info": {
        "title": "Commerce Layer API",
        "version": "2.3.0",
        "contact": {
            "name": "API Support",
            "url": "https://commercelayer.io",
            "email": "support@commercelayer.io"
        },
        "description": "Headless Commerce for Global Brands."
    },
    "servers": [
        {
            "url": "https://core.commercelayer.io/users/sign_in",
            "description": "Sign in"
        },
        {
            "url": "https://docs.commercelayer.io/api",
            "description": "API reference"
        }
    ],
    "paths": {
        "/addresses": {
            "get": {
                "operationId": "GET/addresses",
                "summary": "List all addresses",
                "description": "List all addresses",
                "tags": [
                    "addresses"
                ],
                "responses": {
                    "200": {
                        "description": "A list of address objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/addresses",
                "summary": "Create an address",
                "description": "Create an address",
                "tags": [
                    "addresses"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/addressCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created address object"
                    }
                }
            }
        },
        "/addresses/{addressId}": {
            "get": {
                "operationId": "GET/addresses/addressId",
                "summary": "Retrieve an address",
                "description": "Retrieve an address",
                "tags": [
                    "addresses"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The address object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/address"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/addresses/addressId",
                "summary": "Update an address",
                "description": "Update an address",
                "tags": [
                    "addresses"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/addressUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated address object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/addresses/addressId",
                "summary": "Delete an address",
                "description": "Delete an address",
                "tags": [
                    "addresses"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/addresses/{addressId}/geocoder": {
            "get": {
                "operationId": "GET/addressId/geocoder",
                "summary": "Retrieve the geocoder associated to the address",
                "description": "Retrieve the geocoder associated to the address",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "addressId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The geocoder associated to the address"
                    }
                }
            }
        },
        "/adjustments": {
            "get": {
                "operationId": "GET/adjustments",
                "summary": "List all adjustments",
                "description": "List all adjustments",
                "tags": [
                    "adjustments"
                ],
                "responses": {
                    "200": {
                        "description": "A list of adjustment objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/adjustments",
                "summary": "Create an adjustment",
                "description": "Create an adjustment",
                "tags": [
                    "adjustments"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adjustmentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created adjustment object"
                    }
                }
            }
        },
        "/adjustments/{adjustmentId}": {
            "get": {
                "operationId": "GET/adjustments/adjustmentId",
                "summary": "Retrieve an adjustment",
                "description": "Retrieve an adjustment",
                "tags": [
                    "adjustments"
                ],
                "parameters": [
                    {
                        "name": "adjustmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The adjustment object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/adjustment"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/adjustments/adjustmentId",
                "summary": "Update an adjustment",
                "description": "Update an adjustment",
                "tags": [
                    "adjustments"
                ],
                "parameters": [
                    {
                        "name": "adjustmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adjustmentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated adjustment object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/adjustments/adjustmentId",
                "summary": "Delete an adjustment",
                "description": "Delete an adjustment",
                "tags": [
                    "adjustments"
                ],
                "parameters": [
                    {
                        "name": "adjustmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/adyen_gateways": {
            "get": {
                "operationId": "GET/adyen_gateways",
                "summary": "List all adyen gateways",
                "description": "List all adyen gateways",
                "tags": [
                    "adyen_gateways"
                ],
                "responses": {
                    "200": {
                        "description": "A list of adyen gateway objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/adyen_gateways",
                "summary": "Create an adyen gateway",
                "description": "Create an adyen gateway",
                "tags": [
                    "adyen_gateways"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adyenGatewayCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created adyen gateway object"
                    }
                }
            }
        },
        "/adyen_gateways/{adyenGatewayId}": {
            "get": {
                "operationId": "GET/adyen_gateways/adyenGatewayId",
                "summary": "Retrieve an adyen gateway",
                "description": "Retrieve an adyen gateway",
                "tags": [
                    "adyen_gateways"
                ],
                "parameters": [
                    {
                        "name": "adyenGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The adyen gateway object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/adyenGateway"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/adyen_gateways/adyenGatewayId",
                "summary": "Update an adyen gateway",
                "description": "Update an adyen gateway",
                "tags": [
                    "adyen_gateways"
                ],
                "parameters": [
                    {
                        "name": "adyenGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adyenGatewayUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated adyen gateway object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/adyen_gateways/adyenGatewayId",
                "summary": "Delete an adyen gateway",
                "description": "Delete an adyen gateway",
                "tags": [
                    "adyen_gateways"
                ],
                "parameters": [
                    {
                        "name": "adyenGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/adyen_gateways/{adyenGatewayId}/payment_methods": {
            "get": {
                "operationId": "GET/adyenGatewayId/payment_methods",
                "summary": "Retrieve the payment methods associated to the adyen gateway",
                "description": "Retrieve the payment methods associated to the adyen gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "adyenGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_methods associated to the adyen gateway"
                    }
                }
            }
        },
        "/adyen_gateways/{adyenGatewayId}/adyen_payments": {
            "get": {
                "operationId": "GET/adyenGatewayId/adyen_payments",
                "summary": "Retrieve the adyen payments associated to the adyen gateway",
                "description": "Retrieve the adyen payments associated to the adyen gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "adyenGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The adyen_payments associated to the adyen gateway"
                    }
                }
            }
        },
        "/adyen_payments": {
            "get": {
                "operationId": "GET/adyen_payments",
                "summary": "List all adyen payments",
                "description": "List all adyen payments",
                "tags": [
                    "adyen_payments"
                ],
                "responses": {
                    "200": {
                        "description": "A list of adyen payment objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/adyen_payments",
                "summary": "Create an adyen payment",
                "description": "Create an adyen payment",
                "tags": [
                    "adyen_payments"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adyenPaymentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created adyen payment object"
                    }
                }
            }
        },
        "/adyen_payments/{adyenPaymentId}": {
            "get": {
                "operationId": "GET/adyen_payments/adyenPaymentId",
                "summary": "Retrieve an adyen payment",
                "description": "Retrieve an adyen payment",
                "tags": [
                    "adyen_payments"
                ],
                "parameters": [
                    {
                        "name": "adyenPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The adyen payment object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/adyenPayment"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/adyen_payments/adyenPaymentId",
                "summary": "Update an adyen payment",
                "description": "Update an adyen payment",
                "tags": [
                    "adyen_payments"
                ],
                "parameters": [
                    {
                        "name": "adyenPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/adyenPaymentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated adyen payment object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/adyen_payments/adyenPaymentId",
                "summary": "Delete an adyen payment",
                "description": "Delete an adyen payment",
                "tags": [
                    "adyen_payments"
                ],
                "parameters": [
                    {
                        "name": "adyenPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/adyen_payments/{adyenPaymentId}/order": {
            "get": {
                "operationId": "GET/adyenPaymentId/order",
                "summary": "Retrieve the order associated to the adyen payment",
                "description": "Retrieve the order associated to the adyen payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "adyenPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The order associated to the adyen payment"
                    }
                }
            }
        },
        "/adyen_payments/{adyenPaymentId}/payment_gateway": {
            "get": {
                "operationId": "GET/adyenPaymentId/payment_gateway",
                "summary": "Retrieve the payment gateway associated to the adyen payment",
                "description": "Retrieve the payment gateway associated to the adyen payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "adyenPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_gateway associated to the adyen payment"
                    }
                }
            }
        },
        "/application": {
            "get": {
                "operationId": "GET/application",
                "summary": "Retrieve the application",
                "description": "Retrieve the application",
                "tags": [
                    "application",
                    "singleton"
                ],
                "responses": {
                    "200": {
                        "description": "The application object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/application"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/attachments": {
            "get": {
                "operationId": "GET/attachments",
                "summary": "List all attachments",
                "description": "List all attachments",
                "tags": [
                    "attachments"
                ],
                "responses": {
                    "200": {
                        "description": "A list of attachment objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/attachments",
                "summary": "Create an attachment",
                "description": "Create an attachment",
                "tags": [
                    "attachments"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/attachmentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created attachment object"
                    }
                }
            }
        },
        "/attachments/{attachmentId}": {
            "get": {
                "operationId": "GET/attachments/attachmentId",
                "summary": "Retrieve an attachment",
                "description": "Retrieve an attachment",
                "tags": [
                    "attachments"
                ],
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The attachment object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/attachment"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/attachments/attachmentId",
                "summary": "Update an attachment",
                "description": "Update an attachment",
                "tags": [
                    "attachments"
                ],
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/attachmentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated attachment object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/attachments/attachmentId",
                "summary": "Delete an attachment",
                "description": "Delete an attachment",
                "tags": [
                    "attachments"
                ],
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/authorizations": {
            "get": {
                "operationId": "GET/authorizations",
                "summary": "List all authorizations",
                "description": "List all authorizations",
                "tags": [
                    "authorizations"
                ],
                "responses": {
                    "200": {
                        "description": "A list of authorization objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/authorizations",
                "summary": "Create an authorization",
                "description": "Create an authorization",
                "tags": [
                    "authorizations"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/authorizationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created authorization object"
                    }
                }
            }
        },
        "/authorizations/{authorizationId}": {
            "get": {
                "operationId": "GET/authorizations/authorizationId",
                "summary": "Retrieve an authorization",
                "description": "Retrieve an authorization",
                "tags": [
                    "authorizations"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The authorization object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/authorization"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/authorizations/authorizationId",
                "summary": "Update an authorization",
                "description": "Update an authorization",
                "tags": [
                    "authorizations"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/authorizationUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated authorization object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/authorizations/authorizationId",
                "summary": "Delete an authorization",
                "description": "Delete an authorization",
                "tags": [
                    "authorizations"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/authorizations/{authorizationId}/order": {
            "get": {
                "operationId": "GET/authorizationId/order",
                "summary": "Retrieve the order associated to the authorization",
                "description": "Retrieve the order associated to the authorization",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The order associated to the authorization"
                    }
                }
            }
        },
        "/authorizations/{authorizationId}/captures": {
            "get": {
                "operationId": "GET/authorizationId/captures",
                "summary": "Retrieve the captures associated to the authorization",
                "description": "Retrieve the captures associated to the authorization",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The captures associated to the authorization"
                    }
                }
            }
        },
        "/authorizations/{authorizationId}/voids": {
            "get": {
                "operationId": "GET/authorizationId/voids",
                "summary": "Retrieve the voids associated to the authorization",
                "description": "Retrieve the voids associated to the authorization",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "authorizationId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The voids associated to the authorization"
                    }
                }
            }
        },
        "/avalara_accounts": {
            "get": {
                "operationId": "GET/avalara_accounts",
                "summary": "List all avalara accounts",
                "description": "List all avalara accounts",
                "tags": [
                    "avalara_accounts"
                ],
                "responses": {
                    "200": {
                        "description": "A list of avalara account objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/avalara_accounts",
                "summary": "Create an avalara account",
                "description": "Create an avalara account",
                "tags": [
                    "avalara_accounts"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/avalaraAccountCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created avalara account object"
                    }
                }
            }
        },
        "/avalara_accounts/{avalaraAccountId}": {
            "get": {
                "operationId": "GET/avalara_accounts/avalaraAccountId",
                "summary": "Retrieve an avalara account",
                "description": "Retrieve an avalara account",
                "tags": [
                    "avalara_accounts"
                ],
                "parameters": [
                    {
                        "name": "avalaraAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The avalara account object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/avalaraAccount"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/avalara_accounts/avalaraAccountId",
                "summary": "Update an avalara account",
                "description": "Update an avalara account",
                "tags": [
                    "avalara_accounts"
                ],
                "parameters": [
                    {
                        "name": "avalaraAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/avalaraAccountUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated avalara account object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/avalara_accounts/avalaraAccountId",
                "summary": "Delete an avalara account",
                "description": "Delete an avalara account",
                "tags": [
                    "avalara_accounts"
                ],
                "parameters": [
                    {
                        "name": "avalaraAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/avalara_accounts/{avalaraAccountId}/tax_categories": {
            "get": {
                "operationId": "GET/avalaraAccountId/tax_categories",
                "summary": "Retrieve the tax categories associated to the avalara account",
                "description": "Retrieve the tax categories associated to the avalara account",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "avalaraAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The tax_categories associated to the avalara account"
                    }
                }
            }
        },
        "/avalara_accounts/{avalaraAccountId}/attachments": {
            "get": {
                "operationId": "GET/avalaraAccountId/attachments",
                "summary": "Retrieve the attachments associated to the avalara account",
                "description": "Retrieve the attachments associated to the avalara account",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "avalaraAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The attachments associated to the avalara account"
                    }
                }
            }
        },
        "/billing_info_validation_rules": {
            "get": {
                "operationId": "GET/billing_info_validation_rules",
                "summary": "List all billing info validation rules",
                "description": "List all billing info validation rules",
                "tags": [
                    "billing_info_validation_rules"
                ],
                "responses": {
                    "200": {
                        "description": "A list of billing info validation rule objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/billing_info_validation_rules",
                "summary": "Create a billing info validation rule",
                "description": "Create a billing info validation rule",
                "tags": [
                    "billing_info_validation_rules"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/billingInfoValidationRuleCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created billing info validation rule object"
                    }
                }
            }
        },
        "/billing_info_validation_rules/{billingInfoValidationRuleId}": {
            "get": {
                "operationId": "GET/billing_info_validation_rules/billingInfoValidationRuleId",
                "summary": "Retrieve a billing info validation rule",
                "description": "Retrieve a billing info validation rule",
                "tags": [
                    "billing_info_validation_rules"
                ],
                "parameters": [
                    {
                        "name": "billingInfoValidationRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The billing info validation rule object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/billingInfoValidationRule"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/billing_info_validation_rules/billingInfoValidationRuleId",
                "summary": "Update a billing info validation rule",
                "description": "Update a billing info validation rule",
                "tags": [
                    "billing_info_validation_rules"
                ],
                "parameters": [
                    {
                        "name": "billingInfoValidationRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/billingInfoValidationRuleUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated billing info validation rule object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/billing_info_validation_rules/billingInfoValidationRuleId",
                "summary": "Delete a billing info validation rule",
                "description": "Delete a billing info validation rule",
                "tags": [
                    "billing_info_validation_rules"
                ],
                "parameters": [
                    {
                        "name": "billingInfoValidationRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/billing_info_validation_rules/{billingInfoValidationRuleId}/market": {
            "get": {
                "operationId": "GET/billingInfoValidationRuleId/market",
                "summary": "Retrieve the market associated to the billing info validation rule",
                "description": "Retrieve the market associated to the billing info validation rule",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "billingInfoValidationRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The market associated to the billing info validation rule"
                    }
                }
            }
        },
        "/braintree_gateways": {
            "get": {
                "operationId": "GET/braintree_gateways",
                "summary": "List all braintree gateways",
                "description": "List all braintree gateways",
                "tags": [
                    "braintree_gateways"
                ],
                "responses": {
                    "200": {
                        "description": "A list of braintree gateway objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/braintree_gateways",
                "summary": "Create a braintree gateway",
                "description": "Create a braintree gateway",
                "tags": [
                    "braintree_gateways"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/braintreeGatewayCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created braintree gateway object"
                    }
                }
            }
        },
        "/braintree_gateways/{braintreeGatewayId}": {
            "get": {
                "operationId": "GET/braintree_gateways/braintreeGatewayId",
                "summary": "Retrieve a braintree gateway",
                "description": "Retrieve a braintree gateway",
                "tags": [
                    "braintree_gateways"
                ],
                "parameters": [
                    {
                        "name": "braintreeGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The braintree gateway object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/braintreeGateway"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/braintree_gateways/braintreeGatewayId",
                "summary": "Update a braintree gateway",
                "description": "Update a braintree gateway",
                "tags": [
                    "braintree_gateways"
                ],
                "parameters": [
                    {
                        "name": "braintreeGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/braintreeGatewayUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated braintree gateway object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/braintree_gateways/braintreeGatewayId",
                "summary": "Delete a braintree gateway",
                "description": "Delete a braintree gateway",
                "tags": [
                    "braintree_gateways"
                ],
                "parameters": [
                    {
                        "name": "braintreeGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/braintree_gateways/{braintreeGatewayId}/payment_methods": {
            "get": {
                "operationId": "GET/braintreeGatewayId/payment_methods",
                "summary": "Retrieve the payment methods associated to the braintree gateway",
                "description": "Retrieve the payment methods associated to the braintree gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "braintreeGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_methods associated to the braintree gateway"
                    }
                }
            }
        },
        "/braintree_gateways/{braintreeGatewayId}/braintree_payments": {
            "get": {
                "operationId": "GET/braintreeGatewayId/braintree_payments",
                "summary": "Retrieve the braintree payments associated to the braintree gateway",
                "description": "Retrieve the braintree payments associated to the braintree gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "braintreeGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The braintree_payments associated to the braintree gateway"
                    }
                }
            }
        },
        "/braintree_payments": {
            "get": {
                "operationId": "GET/braintree_payments",
                "summary": "List all braintree payments",
                "description": "List all braintree payments",
                "tags": [
                    "braintree_payments"
                ],
                "responses": {
                    "200": {
                        "description": "A list of braintree payment objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/braintree_payments",
                "summary": "Create a braintree payment",
                "description": "Create a braintree payment",
                "tags": [
                    "braintree_payments"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/braintreePaymentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created braintree payment object"
                    }
                }
            }
        },
        "/braintree_payments/{braintreePaymentId}": {
            "get": {
                "operationId": "GET/braintree_payments/braintreePaymentId",
                "summary": "Retrieve a braintree payment",
                "description": "Retrieve a braintree payment",
                "tags": [
                    "braintree_payments"
                ],
                "parameters": [
                    {
                        "name": "braintreePaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The braintree payment object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/braintreePayment"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/braintree_payments/braintreePaymentId",
                "summary": "Update a braintree payment",
                "description": "Update a braintree payment",
                "tags": [
                    "braintree_payments"
                ],
                "parameters": [
                    {
                        "name": "braintreePaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/braintreePaymentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated braintree payment object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/braintree_payments/braintreePaymentId",
                "summary": "Delete a braintree payment",
                "description": "Delete a braintree payment",
                "tags": [
                    "braintree_payments"
                ],
                "parameters": [
                    {
                        "name": "braintreePaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/braintree_payments/{braintreePaymentId}/order": {
            "get": {
                "operationId": "GET/braintreePaymentId/order",
                "summary": "Retrieve the order associated to the braintree payment",
                "description": "Retrieve the order associated to the braintree payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "braintreePaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The order associated to the braintree payment"
                    }
                }
            }
        },
        "/braintree_payments/{braintreePaymentId}/payment_gateway": {
            "get": {
                "operationId": "GET/braintreePaymentId/payment_gateway",
                "summary": "Retrieve the payment gateway associated to the braintree payment",
                "description": "Retrieve the payment gateway associated to the braintree payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "braintreePaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_gateway associated to the braintree payment"
                    }
                }
            }
        },
        "/captures": {
            "get": {
                "operationId": "GET/captures",
                "summary": "List all captures",
                "description": "List all captures",
                "tags": [
                    "captures"
                ],
                "responses": {
                    "200": {
                        "description": "A list of capture objects"
                    }
                }
            }
        },
        "/captures/{captureId}": {
            "get": {
                "operationId": "GET/captures/captureId",
                "summary": "Retrieve a capture",
                "description": "Retrieve a capture",
                "tags": [
                    "captures"
                ],
                "parameters": [
                    {
                        "name": "captureId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The capture object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/capture"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/captures/captureId",
                "summary": "Update a capture",
                "description": "Update a capture",
                "tags": [
                    "captures"
                ],
                "parameters": [
                    {
                        "name": "captureId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/captureUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated capture object"
                    }
                }
            }
        },
        "/captures/{captureId}/order": {
            "get": {
                "operationId": "GET/captureId/order",
                "summary": "Retrieve the order associated to the capture",
                "description": "Retrieve the order associated to the capture",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "captureId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The order associated to the capture"
                    }
                }
            }
        },
        "/captures/{captureId}/reference_authorization": {
            "get": {
                "operationId": "GET/captureId/reference_authorization",
                "summary": "Retrieve the reference authorization associated to the capture",
                "description": "Retrieve the reference authorization associated to the capture",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "captureId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The reference_authorization associated to the capture"
                    }
                }
            }
        },
        "/captures/{captureId}/refunds": {
            "get": {
                "operationId": "GET/captureId/refunds",
                "summary": "Retrieve the refunds associated to the capture",
                "description": "Retrieve the refunds associated to the capture",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "captureId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The refunds associated to the capture"
                    }
                }
            }
        },
        "/carrier_accounts": {
            "get": {
                "operationId": "GET/carrier_accounts",
                "summary": "List all carrier accounts",
                "description": "List all carrier accounts",
                "tags": [
                    "carrier_accounts"
                ],
                "responses": {
                    "200": {
                        "description": "A list of carrier account objects"
                    }
                }
            }
        },
        "/carrier_accounts/{carrierAccountId}": {
            "get": {
                "operationId": "GET/carrier_accounts/carrierAccountId",
                "summary": "Retrieve a carrier account",
                "description": "Retrieve a carrier account",
                "tags": [
                    "carrier_accounts"
                ],
                "parameters": [
                    {
                        "name": "carrierAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The carrier account object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/carrierAccount"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/carrier_accounts/{carrierAccountId}/market": {
            "get": {
                "operationId": "GET/carrierAccountId/market",
                "summary": "Retrieve the market associated to the carrier account",
                "description": "Retrieve the market associated to the carrier account",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "carrierAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The market associated to the carrier account"
                    }
                }
            }
        },
        "/carrier_accounts/{carrierAccountId}/attachments": {
            "get": {
                "operationId": "GET/carrierAccountId/attachments",
                "summary": "Retrieve the attachments associated to the carrier account",
                "description": "Retrieve the attachments associated to the carrier account",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "carrierAccountId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The attachments associated to the carrier account"
                    }
                }
            }
        },
        "/checkout_com_gateways": {
            "get": {
                "operationId": "GET/checkout_com_gateways",
                "summary": "List all checkout com gateways",
                "description": "List all checkout com gateways",
                "tags": [
                    "checkout_com_gateways"
                ],
                "responses": {
                    "200": {
                        "description": "A list of checkout com gateway objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/checkout_com_gateways",
                "summary": "Create a checkout com gateway",
                "description": "Create a checkout com gateway",
                "tags": [
                    "checkout_com_gateways"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/checkoutComGatewayCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created checkout com gateway object"
                    }
                }
            }
        },
        "/checkout_com_gateways/{checkoutComGatewayId}": {
            "get": {
                "operationId": "GET/checkout_com_gateways/checkoutComGatewayId",
                "summary": "Retrieve a checkout com gateway",
                "description": "Retrieve a checkout com gateway",
                "tags": [
                    "checkout_com_gateways"
                ],
                "parameters": [
                    {
                        "name": "checkoutComGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The checkout com gateway object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/checkoutComGateway"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/checkout_com_gateways/checkoutComGatewayId",
                "summary": "Update a checkout com gateway",
                "description": "Update a checkout com gateway",
                "tags": [
                    "checkout_com_gateways"
                ],
                "parameters": [
                    {
                        "name": "checkoutComGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/checkoutComGatewayUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated checkout com gateway object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/checkout_com_gateways/checkoutComGatewayId",
                "summary": "Delete a checkout com gateway",
                "description": "Delete a checkout com gateway",
                "tags": [
                    "checkout_com_gateways"
                ],
                "parameters": [
                    {
                        "name": "checkoutComGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/checkout_com_gateways/{checkoutComGatewayId}/payment_methods": {
            "get": {
                "operationId": "GET/checkoutComGatewayId/payment_methods",
                "summary": "Retrieve the payment methods associated to the checkout com gateway",
                "description": "Retrieve the payment methods associated to the checkout com gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "checkoutComGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_methods associated to the checkout com gateway"
                    }
                }
            }
        },
        "/checkout_com_gateways/{checkoutComGatewayId}/checkout_com_payments": {
            "get": {
                "operationId": "GET/checkoutComGatewayId/checkout_com_payments",
                "summary": "Retrieve the checkout com payments associated to the checkout com gateway",
                "description": "Retrieve the checkout com payments associated to the checkout com gateway",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "checkoutComGatewayId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The checkout_com_payments associated to the checkout com gateway"
                    }
                }
            }
        },
        "/checkout_com_payments": {
            "get": {
                "operationId": "GET/checkout_com_payments",
                "summary": "List all checkout com payments",
                "description": "List all checkout com payments",
                "tags": [
                    "checkout_com_payments"
                ],
                "responses": {
                    "200": {
                        "description": "A list of checkout com payment objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/checkout_com_payments",
                "summary": "Create a checkout com payment",
                "description": "Create a checkout com payment",
                "tags": [
                    "checkout_com_payments"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/checkoutComPaymentCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created checkout com payment object"
                    }
                }
            }
        },
        "/checkout_com_payments/{checkoutComPaymentId}": {
            "get": {
                "operationId": "GET/checkout_com_payments/checkoutComPaymentId",
                "summary": "Retrieve a checkout com payment",
                "description": "Retrieve a checkout com payment",
                "tags": [
                    "checkout_com_payments"
                ],
                "parameters": [
                    {
                        "name": "checkoutComPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The checkout com payment object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/checkoutComPayment"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/checkout_com_payments/checkoutComPaymentId",
                "summary": "Update a checkout com payment",
                "description": "Update a checkout com payment",
                "tags": [
                    "checkout_com_payments"
                ],
                "parameters": [
                    {
                        "name": "checkoutComPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/checkoutComPaymentUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated checkout com payment object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/checkout_com_payments/checkoutComPaymentId",
                "summary": "Delete a checkout com payment",
                "description": "Delete a checkout com payment",
                "tags": [
                    "checkout_com_payments"
                ],
                "parameters": [
                    {
                        "name": "checkoutComPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/checkout_com_payments/{checkoutComPaymentId}/order": {
            "get": {
                "operationId": "GET/checkoutComPaymentId/order",
                "summary": "Retrieve the order associated to the checkout com payment",
                "description": "Retrieve the order associated to the checkout com payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "checkoutComPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The order associated to the checkout com payment"
                    }
                }
            }
        },
        "/checkout_com_payments/{checkoutComPaymentId}/payment_gateway": {
            "get": {
                "operationId": "GET/checkoutComPaymentId/payment_gateway",
                "summary": "Retrieve the payment gateway associated to the checkout com payment",
                "description": "Retrieve the payment gateway associated to the checkout com payment",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "checkoutComPaymentId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The payment_gateway associated to the checkout com payment"
                    }
                }
            }
        },
        "/coupon_codes_promotion_rules": {
            "get": {
                "operationId": "GET/coupon_codes_promotion_rules",
                "summary": "List all coupon codes promotion rules",
                "description": "List all coupon codes promotion rules",
                "tags": [
                    "coupon_codes_promotion_rules"
                ],
                "responses": {
                    "200": {
                        "description": "A list of coupon codes promotion rule objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/coupon_codes_promotion_rules",
                "summary": "Create a coupon codes promotion rule",
                "description": "Create a coupon codes promotion rule",
                "tags": [
                    "coupon_codes_promotion_rules"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/couponCodesPromotionRuleCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created coupon codes promotion rule object"
                    }
                }
            }
        },
        "/coupon_codes_promotion_rules/{couponCodesPromotionRuleId}": {
            "get": {
                "operationId": "GET/coupon_codes_promotion_rules/couponCodesPromotionRuleId",
                "summary": "Retrieve a coupon codes promotion rule",
                "description": "Retrieve a coupon codes promotion rule",
                "tags": [
                    "coupon_codes_promotion_rules"
                ],
                "parameters": [
                    {
                        "name": "couponCodesPromotionRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The coupon codes promotion rule object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/couponCodesPromotionRule"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/coupon_codes_promotion_rules/couponCodesPromotionRuleId",
                "summary": "Update a coupon codes promotion rule",
                "description": "Update a coupon codes promotion rule",
                "tags": [
                    "coupon_codes_promotion_rules"
                ],
                "parameters": [
                    {
                        "name": "couponCodesPromotionRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/couponCodesPromotionRuleUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated coupon codes promotion rule object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/coupon_codes_promotion_rules/couponCodesPromotionRuleId",
                "summary": "Delete a coupon codes promotion rule",
                "description": "Delete a coupon codes promotion rule",
                "tags": [
                    "coupon_codes_promotion_rules"
                ],
                "parameters": [
                    {
                        "name": "couponCodesPromotionRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/coupon_codes_promotion_rules/{couponCodesPromotionRuleId}/coupons": {
            "get": {
                "operationId": "GET/couponCodesPromotionRuleId/coupons",
                "summary": "Retrieve the coupons associated to the coupon codes promotion rule",
                "description": "Retrieve the coupons associated to the coupon codes promotion rule",
                "tags": [
                    "has_many"
                ],
                "parameters": [
                    {
                        "name": "couponCodesPromotionRuleId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The coupons associated to the coupon codes promotion rule"
                    }
                }
            }
        },
        "/coupons": {
            "get": {
                "operationId": "GET/coupons",
                "summary": "List all coupons",
                "description": "List all coupons",
                "tags": [
                    "coupons"
                ],
                "responses": {
                    "200": {
                        "description": "A list of coupon objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/coupons",
                "summary": "Create a coupon",
                "description": "Create a coupon",
                "tags": [
                    "coupons"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/couponCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created coupon object"
                    }
                }
            }
        },
        "/coupons/{couponId}": {
            "get": {
                "operationId": "GET/coupons/couponId",
                "summary": "Retrieve a coupon",
                "description": "Retrieve a coupon",
                "tags": [
                    "coupons"
                ],
                "parameters": [
                    {
                        "name": "couponId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The coupon object",
                        "content": {
                            "application/vnd.api+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/coupon"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "PATCH/coupons/couponId",
                "summary": "Update a coupon",
                "description": "Update a coupon",
                "tags": [
                    "coupons"
                ],
                "parameters": [
                    {
                        "name": "couponId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/couponUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated coupon object"
                    }
                }
            },
            "delete": {
                "operationId": "DELETE/coupons/couponId",
                "summary": "Delete a coupon",
                "description": "Delete a coupon",
                "tags": [
                    "coupons"
                ],
                "parameters": [
                    {
                        "name": "couponId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/coupons/{couponId}/promotion_rule": {
            "get": {
                "operationId": "GET/couponId/promotion_rule",
                "summary": "Retrieve the promotion rule associated to the coupon",
                "description": "Retrieve the promotion rule associated to the coupon",
                "tags": [
                    "has_one"
                ],
                "parameters": [
                    {
                        "name": "couponId",
                        "in": "path",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "description": "The resource's id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The promotion_rule associated to the coupon"
                    }
                }
            }
        },
        "/customer_addresses": {
            "get": {
                "operationId": "GET/customer_addresses",
                "summary": "List all customer addresses",
                "description": "List all customer addresses",
                "tags": [
                    "customer_addresses"
                ],
                "responses": {
                    "200": {
                        "description": "A list of customer address objects"
                    }
                }
            },
            "post": {
                "operationId": "POST/customer_addresses",
                "summary": "Create a customer address",
                "description": "Create a customer address",
                "tags": [
                    "customer_addresses"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/customerAddressCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
[...]
